@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">InnovateThinkers</h1>
    <p>This is a prototype for the system that is built in regards to InnovateFest 2023.</p>
</div>
